<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/Assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .active {
    color: orangered !important;
    font-weight: bold   ;
}
.btn {
    background-color: orangered;
    color: white;
    margin: auto;
}

.navbar {
    margin-bottom: 50px;
    text-align: center;
}
.img-fluid {
    margin: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/Assets/img/logo-brand.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="addProject">Add Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="testimonial">Testimonial</a>
            </li>
            </ul>
            <form class="d-flex" role="search">
            <button class="btn btn-outline-secondary" type="submit"><a href="contact" style="color: white; text-decoration: none;">Contact</a></button>
            </form>
        </div>
        </div>
    </nav>
    <div class="containner">
        <div class="content"> 
            <div class="column">

                <h1>Hi Welcome to my Personal Blog</h1>
                <p>My name is Rahmat Adi Santoso, my nickname is Adi, I am one of the students at the Dumbways Bootcamp, apart from that I am a final semester student at Mercubuana University Jakarta, I want to start my career as a programmer, that's why I am joining the Dumbways Bootcamp, with my hope can be an innovative programmer </p>
                
                
                <div class="download">
                    <button type="button" class="btn btn-outline-secondary">Contact</button>
                    <a href="https://drive.google.com/file/d/11sLu6BAts8HXl_GQIUwnb-gy_XzvfDEt/view?usp=drive_link" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Download CV</a><img src ="/Assets/img/download-solid.svg" alt="download" style="height: 18px;">
                </div>
                <div class="social">
                    <a href="https://www.linkedin.com/in/rahmat-adi-santoso-2b7728146/"><img src="/Assets//img/linkedin.svg" alt="linkedin" style="height: 30px; margin-right: 25px;" class="linkedin"></a>
                    <a href="https://www.instagram.com/rahmatadi.di/"><img src="/Assets/img/instagram.svg" alt="intagram" style="height: 30px; margin-right: 25px;" class="ig"></a>
                    <a href="https://www.facebook.com/rahmat.adhiie1"><img src="/Assets/img/facebook.svg" alt="facebook" style="height: 30px; margin-right: 25px;" class="fb"></a>
                    <a href="https://twitter.com/rahmatadi_di"><img src="/Assets/img/twitter.svg" alt="twitter" style = "height : 30px;" class="twitter"></a>
                </div>
            </div>  
        <div class="img">
            <img src="/Assets/img/foto diri.jpg" alt="foto">
            <h2>Rahmat Adi Santoso</h2>
            <h3>Fullstack developer</h3>
        </div>
        <!-- Ini Task 1, Task 2 pindah ke atas -->
        <!-- <div class="download">
            <a href="https://drive.google.com/file/d/11sLu6BAts8HXl_GQIUwnb-gy_XzvfDEt/view?usp=drive_link">Download CV <img src ="./img/download-solid.svg" alt="download" style="height: 20px;"></a>
        </div> -->
    </div>
        <!-- Ini Task 1, Task 2 pindah ke atas -->
        <!-- <div class="social">
            <a href="https://www.linkedin.com/in/rahmat-adi-santoso-2b7728146/"><img src="./img/linkedin.svg" alt="linkedin" style="height: 30px;" class="linkedin"></a>
            <a href="https://www.instagram.com/rahmatadi.di/"><img src="./img/instagram.svg" alt="intagram" style="height: 30px;" class="ig"></a>
            <a href="https://www.facebook.com/rahmat.adhiie1"><img src="./img/facebook.svg" alt="facebook" style="height: 30px;" class="fb"></a>
            <a href="https://twitter.com/rahmatadi_di"><img src="./img/twitter.svg" alt="twitter" style = "height : 30px;" class="twitter"></a>
        </div> -->

        <!-- Ini Task 1, Task 2 pindah ke atas -->
        <!-- <div class="img">
            <img src="./img/foto diri.jpg" alt="foto">
            <h2>Rahmat Adi Santoso</h2>
            <h3>Fullstack developer</h3>
        </div> -->

        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>